/*
  *= require bootstrap
  *= require_tree .
  *= require_self
*/



.top-image-background {
  background-image: url('top.jpg') !important;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: 70%;
  background-repeat:no-repeat;
  margin-bottom: 40rem;
  position: center; 
}