<div class="title-wrapper">
    <div class="title-section-wrapper">
      <div class="container">
	  	<div class="row">
		  
		</div>
    </div>
</div>


<!--<div class="title-wrapper">
	<div class="title-section-wrapper">
		<div class="container">
			<div class="row">
				<div class="title-subtitle-container">
					<h1 class="main-title">Le&nbsp;point&nbsp;d’accès&nbsp;unique<br class="desktop-only">à votre saison de courses en Pays Basque et Béarn</h1>
					<h3 class="main-subtitle mobile-hide">Accédez gratuitement à l’agenda des courses de la région <br class="desktop-only">et à vos résultats et photos officiels.</h3>
				</div>
			</div>
			<div class="row">
				<div class="search-container flex-shrink-0 home-search">
					<div class="search-bar-container">
						<form class="d-flex" id="navbar-search-form" action="/search" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="6UXtIk3R6oBAjqtLCBl6RwJnXrGS2xBJfhhpxWXyg+iy+qQTfOX2S+fgzg597Hq8i1EKihJ8gLUdGfYPc3ZiGw==">
							<div class="mobile-hide"><select name="search-option-navbar" id="search-option-navbar" class="form-control search-bar-select">
								<option value="editions">Événements</option>
								<option value="runners">Athlètes</option>
							</select>
						</div>
						<div class="search-container-input d-flex align-items-center flex-grow-1 flex-shrink-1"><i class="fas fa-search mobile-hide"></i>
							<input type="text" name="search-input-navbar" id="search-input-navbar" placeholder="Saisir votre recherche" class="form-control search-bar-input flex-grow-1">
						</div>
						<button name="button" type="submit" class="btn btn-kapp10 search-bar-submit">
							<div class="mobile-hide">Rechercher</div><div class="mobile-only">
								<i class="fa fa-search"></i>
							</div>
						</button>
					</form>
				</div>
				<ul class="search-results-list d-none">
				</ul>
			</div>
		</div>
	</div>
</div>
</div> -->